/* You can add global styles to this file, and also import other style files */
:root{
  --aquamarine: #85ffc7;
  --periwinkle: #c6d8ff;
  --aliceblue: #eaf0ff;
  --myrtlegreen: #297373;
  --coral: #ff8552;
  --onyx: #39393a;

  --jet: #333232;
  --white: #fffbfe;
  --nickel: #6f7272;
  --isabelline: #efefef;
  --columbia-blue: #c4dacf;

  --Primary: #29524A ;
  --Secondary: #C4D6B0 ;
  --Tertiary: #709775 ;
  --Grey: #C4DACF;
}

@font-face {
  font-family: ProximaNova;
  src: url('assets/fonts/proxima_nova_reg.otf');

}
@font-face {
  font-family: Montserrat;
  src: url('assets/fonts/Montserrat-Light.ttf');
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url('assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url('assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url('assets/fonts/Montserrat-Medium.ttf');
  font-weight: 700;
}
@font-face {
  font-family: PTSans;
  src: url('assets/fonts/PTSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: PTSans;
  src: url('assets/fonts/PTSans-Bold.ttf');
  font-weight: 600;
}

*{
  font-family: 'PTSans';
  // overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bgPrimary{
  background-color: var(--Primary);
}
.Primary{
  color:var(--Primary) !important
}
.uppercase{
  text-transform: uppercase;
}
