<div class="container">
  <mat-card-title>My details</mat-card-title>
<!-- Personal Information -->
  <mat-card-subtitle>Personal Information</mat-card-subtitle>
  <hr />
  <div class="container" style = 'margin-bottom:3%'>
    <form>
      <div class = 'names'>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text">
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <p>keep 9-digit format with no spaces and dashes</p>
      <button mat-raised-button color="primary">Save</button>
    </form>
  </div>

<!-- Email Address -->
<mat-card-subtitle>Contact Email Address</mat-card-subtitle>
<hr>
<div class="container">
  <form>
  <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput type="emal">
  </mat-form-field>
      <button mat-raised-button color="primary">Save</button>
    </form>
</div>
</div>
