.order-container{
  margin-left: 160px;
  height:100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "order order details"
  "other other amount";
  gap:2em;
  background-color: #6bc7fc;
  padding:2%;
}
.order-items{
  img{
    height:auto;
    width:100px;
  }
  grid-area: order;
}
.shipping-details{
  grid-area:details;
}
.other{
  grid-area: other;
}
.amount{
  grid-area: amount;
  h3{
    color: rgb(117, 117, 117)
  }
  h2{
    margin-left: auto;
    color: #69df70;
  }
}
.order-card-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  img{
    justify-self: end;
    margin-right: 2%;
  }
}

