.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
.grid-item{
  max-width: 500px;
}
mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
  position: absolute;
}

.grid-item_image-item {
  display: block;
  grid-template-rows: minmax(5vh, 25vh) 1fr;
}

.grid-row__image-preview {
  border: 1px solid #dddddd;
  border-radius: 5px;
  max-width:100%;

}
.carousel-container{
  max-height: 100%;
  max-width: 100%;
}


.image-preview img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  // max-height:25vh;
  min-height:5vh;
  padding: 5%;
}

.grid-row__pick-image {
  display: grid;
  align-content: end;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
.sizes-container{
  display: block;
  max-width: 250px;
  margin: 0 auto;
  mat-form-field{
    max-width: 125px;
  }
}
.btn{
  grid-column:1/3;
}

@media only screen and (max-width: 500px){
  .grid-container{
    grid-template-columns: 1fr;
  }
  .btn{
    grid-column:1/2;
  }

}
