<div class="container-fluid">
  <button
    type="button"
    class="close justify-self-end"
    aria-label="Close"
    (click)="onNoClick()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <h1 mat-dialog-title>{{ data.mode }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
      <div class="grid-container">
        <div class="grid-item_image-item">
          <div class="grid-row__image-preview">
            <div class="image-preview">
              <!-- *ngIf="imagePreview && imagePreview && addProductForm.get('image').valid"> -->

              <div
                id="carousel-container"
                class="carousel slide"
                data-ride="carousel"
                data-interval="false"
              >
                <div class="carousel-inner">

                  <div *ngIf="imagePreview">
                    <div
                      *ngFor="
                        let image of imagePreview;
                        index as i;
                        first as isFirst
                      "
                      [ngClass]="{ active: isFirst }"
                      class="carousel-item"
                    >
                    <span class="material-icons" style = "z-index: 999; position: absolute;"(click) = 'imagePreview = []; myImages = []'>delete</span
                      >
                      <img
                        [src]="image"
                        [alt]="addProductForm.value.title"
                      />
                    </div>
                  </div>
                </div>
                <a
                *ngIf="imagePreview.length > 1"
                  class="carousel-control-prev"
                  href="#carousel-container"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                *ngIf="imagePreview.length > 1"
                  class="carousel-control-next"
                  href="#carousel-container"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              <!-- <img [src]="imagePreview" [alt]="addProductForm.value.title" /> -->
            </div>
          </div>
          <div class="grid-row__pick-image">
            <button
              mat-stroked-button
              type="button"
              (click)="filePicker.click()"
            >
              Pick Image
            </button>
            <input type="file" #filePicker (change)="onImagePicked($event)" multiple />
          </div>
        </div>

        <div class="grid-item">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Enter Title</mat-label>
            <input
              matInput
              id="title"
              placeholder="Ex. Blue Dress"
              formControlName="title"

            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              id="description"
              formControlName="description"
              id="title"

            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input
              matInput
              type="number"
              id="amount"
              class="example-right-align"
              formControlName="amount"

            />
            <span matPrefix>R&nbsp;</span>
          </mat-form-field>

          <mat-form-field appearance="outline" >
            <mat-label>Category</mat-label>
            <mat-select id="category" formControlName="category">
              <mat-option value="dress">Dress</mat-option>
              <mat-option value="top">Top</mat-option>
              <mat-option value="belt">Belt</mat-option>
              <mat-option value="bag">Bag</mat-option>
              <mat-option value="purse">Purse</mat-option>
              <mat-option value="skirt">skirt</mat-option>
              <mat-option value="pants">pants</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="sizes-container" formGroupName = "sizes">
            <mat-form-field appearance="outline">
              <mat-label>Small</mat-label>
              <input
              matInput
              type="number"
              id= 'small'
              formControlName="small">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Medium</mat-label>
              <input
              matInput
              type="number"
              id = "medium"
              formControlName = "medium">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Large</mat-label>
              <input
              matInput
              type="number"
              id = "large"
              formControlName = "large">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>X-Large</mat-label>
              <input
              matInput
              type="number"
              id="xLarge"
              formControlName = "xLarge">
            </mat-form-field>
          </div>
        </div>
        <button
        type="submit"
        class="btn btn-primary btn-sm btn-block w-100 mb-1"
        [mat-dialog-close]="true"
        cdkFocusInitial
      >
        Save
      </button>

      </div>


    </form>
  </div>
</div>
