:root{
  --sidebar-width : 7%;
}
*{
  padding: 0;
  margin: 0;

}

.admin-container{
  height:100%;
  display:grid;
  background-color: rgb(243, 243, 243);
  grid-template-rows: 1fr 2fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "orders orders sales"
  "products products sales"
  "products products sales";
  row-gap: 2em;
  column-gap: 2rem;
  padding: 2% 5% 5% 160px;
}
.orders-container{
  grid-area: orders;
}
.order-card{
  // margin:2% 5% 0% 5%;
  height:100%;
  width: 100%;
}

.products-container{
  grid-area: products;
}
.sales-container{
  grid-area: sales
}
.sale-card{
  height:80%;
}
.sale-card button{
  position: absolute;
  bottom: 10px;
  background-color: #6b5ca5;
  color:white;
}
.grid-container{
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,300px));
  gap: 1rem 3rem;
}
.product-item{
  max-height: 100%;
  max-width: 100%;
}
.product-image{
  max-height: 15vh;
  max-width: 100%;
}
.product-image img{
  max-width: 100%; /* or any custom size */
  max-height: 15vh;
  object-fit: contain;
}

// .btn-circle.btn-xl {
//   width: 70px;
//   height: 70px;
//   padding: 10px 16px;
//   border-radius: 35px;
//   font-size: 24px;
//   line-height: 1.33;
// }
.btn-circle.btn-sm {
  width: 50px;
  height: 50px;
  // padding: %;
  align-items: center;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.bottom{
  position: relative;
  bottom: 15px;
  left:15px;
  z-index: 999;
}
mat-card-title{
  display: flex;
  align-items: center;
}
.order-item-container{
  display: flex;

}
.order-item-details{
  flex-wrap: wrap;
}
.order-actions{
  margin-left: auto;
}

@media only screen and (max-width: 500px){
  .admin-container{
    height: 100%;
    display: grid;
    background-color: #f3f3f3;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "orders"
        "products"
        "sales";
    row-gap: 2em;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    padding: 5%;
  }
}
