<div *ngIf = "product" class="container-fluid product-grid">
 <div class="display-image">
  <section>
    <div class="container">
        <div class="carousel">
            <input *ngFor = "let image of product.imageUrls"type="radio" name="slides" checked="checked" [id]="image">
            <ul class="carousel__slides">
                <li *ngFor = "let image of product.imageUrls" class="carousel__slide">
                    <figure>
                        <div>
                            <img [src]="image" [alt]='product.title' style ="height: 100%; width: auto">
                        </div>
                    </figure>
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li *ngFor = "let image of product.imageUrls">
                    <label [for]="image"><img [src]="image" [alt]="product.title"></label>
                </li>
            </ul>
        </div>
    </div>
</section>
 </div>
 <div class="product-details">
  <div class = "flat-box catagory"><p>{{product.category | uppercase}}</p></div>
  <h1>{{product.title}}.</h1>
  <h3>R{{product.amount}}</h3>
  <p>{{product.description}}</p>
  <mat-form-field appearance="outline">
    <mat-label>Select Size</mat-label>
    <mat-select [(ngModel)]="selectedSize">
      <div *ngFor="let size of product.sizes">
        <mat-option *ngIf = "size.quantity > 0" [value] = size.size>
          {{size.size}}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <div class="flat-box addtocart" (click) = 'addToCart()'><h4>Add to Cart</h4></div>
 </div>
</div>

