
.main-header-container{
  position: relative;
  display: grid;
  height: 95vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "main  main-hero"
    "main  main-hero";
    text-transform: uppercase;
}

.main-header__main{
  grid-area: main;
  background-color: var(--Primary);
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
  "title"
  "actions";
}

.main-header__title {
  grid-area: title;
  h1{
    font-weight: bold;
    color:var(--white);
    width: 75%;
    height: 100%;
    font-size: calc(25px + (60 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin: 2rem;
    position: relative;
    top: 15%;
    letter-spacing: 2px;
  }
}
.main-header__actions{
  grid-area: actions;
  display:grid;
  grid-template-columns: 1fr 1fr;
  height:100%;
  justify-items:start;
  position: relative;
  bottom: 5vh;
  text-align:center
}
.main-header_shop_now{
  position: relative;
  background-color: var(--isabelline);
  color: var(--nickel);
  left: 15%;
}

.hover-color:hover{
  background-color: var(--jet);
  color: var(--white);
  cursor: pointer;

}
.hover-color{
  transition: background-color 0.5s, color 0.5s;
}
.main-header-container h2{
  position: relative;
width: 100%;
font-size: 1.5vw;
display: flex;
left: 50%;
transform: translate(-50%, -50%);
justify-content: center;
align-items: center;
}
.main-header-container span{
margin-left: 3%;
font-size:100%;
}
.main-header_view-deals{
  background-color: var(--Secondary);
  color: var(--white);
  right: 15%;
}
.main-header_hero-image{
grid-area: main-hero;
background: #CBCAD1 no-repeat;
img{
  border: 2px solid var(--Primary);
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: inherit;
}
}


.circle{
  position: relative;
  display: inline-block;
  width: 50%;
  height: 0;
  padding: 25% 0;
  border-radius: 50%;
}
.circle-sm{
  border-radius: 50%;
  height: 50px;
  width:   50px;
  position: absolute;
  left:10%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Categories section
.btn-circle.btn-sm {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  line-height: 0;
  min-width:75px;
  p{
    position: relative;
    width: 100%;
    font-size: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}

.categories-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  margin: 2em;
  gap:1em;
  font-family: 'PTSans';
  text-transform: uppercase;
}
.category-card{
  height:auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color:white;
}
.category-card__header{
  grid-column: 1/2;
  background-color: var(--Primary);
  position:relative;
}


.category-card__header h3{
  width: 75%;
  font-size: calc(25px + (35 - 25) * ((100vw - 300px) / (1600 - 300)));
}
.category-card__image{

  grid-column: 2/3;
  width: 100%;
  height: 100%;
}
.category-card__image img{
  object-fit: cover;
  width: 100%;
  height:100%;
}
.bottom{
  position: absolute;
  bottom: 0;
  padding: 5%
}
.btn{
  color:var(--onyx);
  background-color:var(--isabelline);
  font-size: 1em;
  text-transform: uppercase;
}
// Newly Arriveds
.newly-arrived-container{
  display:grid;
  height:75%;
  margin: 2em;
  grid-template-rows: 10% 90%;
  position: relative;
}
    .newly-arrived-container h3{
      width: 100%;
      text-align: center;
      font-family: 'ProximaNova';
      font-weight: bold;
      width: 100%;
      font-size: 2vw;
      grid-row: 1/2;
    }
.newly-arrived-grid-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1em;
  width: auto;
  height: auto;
  grid-row: 2/3;
  margin:0 5%;
}
.arrived-card-container{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.2fr 0.2fr;
  width: 100%;
  height:100%;
  min-height: 60vh;
  padding:5%;
}
.arrived-card-image{
  grid-area: 1/1/2/3;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
img{
  object-fit:cover;
  width:100%;
  height:100%;
}
}
.arrived-card-title{
  grid-area: 2/1/3/2;
  font-family: 'ProximaNova';

}
.arrived-card-price{
  grid-area: 2/2/3/3;
  text-align: end;
  color:#686868;
}
.arrived-card-container span{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-actions{
  grid-area: 3/1/4/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height:auto;
  width:auto
}
.add-to-cart{
  position: relative;
  background-color:var(--Primary);
  color: var(--white);
}
.view-item{
  position: relative;
  background-color:var(--isabelline);
  color: var(--nickel);
}
.add-to-cart:hover,.view-item:hover {
  background-color: var(--jet);
  color:var(--white) !important;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {

.main-header-container{
grid-template-columns: 1fr;
grid-template-rows: 2fr 1fr;
height:auto;
grid-template-areas:
"main-hero"
"main";
 img{
   height: 100%;
   width: 100%;
 }
.main-header__actions h2{
  font-size: 2.5vw;
}
}
.categories-container{
  grid-template-columns: 1fr;
}
.newly-arrived-grid-container{
  grid-template-columns: 1fr;
}

.arrived-card-container{
  min-height:500px;
}
}
