.main-header-container{
  display: grid;
  height: 95vh;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "main     main       main-hero"
    "shop-now view-deals main-hero"
}
.main-header__main{
  grid-area: main;
  background-color: var(--jet);
  height: 100%;
  width: 100%;
}
.main-header__main h1{
  font-family: 'ProximaNova';
  font-weight: bold;
  color:var(--white);
  width: 75%;
  height: 100%;
  font-size: 5vw;
  margin: 2rem;
  position: relative;
  top: 15%;
}
.main-header_shop_now{
  grid-area: shop-now;
  background-color: var(--isabelline);
  color: var(--nickel)
}
.main-header_shop_now:hover{
  background-color: var(--jet);
  color: var(--white);
  cursor: pointer;
}

.main-header-container h2{
  font-family: 'ProximaNova';
  font-weight: bold;
  width: 75%;
  font-size: 2vw;
  margin: 2rem;
  position: relative;
  top: 15%;
}
.main-header_view-deals{
  grid-area:view-deals;
  background-color: var(--columbia-blue);
  color: var(--white)
}
.main-header_view-deals:hover{
  background-color: var(--jet);
  color: var(--white);
  cursor: pointer;
}
.main-header_hero-image{
grid-area: main-hero;
background: url('../../assets/home/alex-header-image.png') no-repeat;
background-size: cover;
background-position: 50% 80%;
}
// Categories section
.categories-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  margin: 2em;
  gap:1em;
}
.category-card{
  height:auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.category-card__header{
  grid-column: 1/2;
  background-color: var(--columbia-blue);
  position:relative;
}
.category-card__header h3{
  font-family: 'ProximaNova';
  width: 75%;
  font-size: 1.5vw;
}
.category-card__image{
  grid-column: 2/3;
  width: 100%;
  height: 100%;
}
.category-card__image img{
  width: 100%;
}
.bottom{
  position: absolute;
  bottom: 0;
  padding: 5%
}
.btn{
  color:var(--white);
  background-color:var(--jet);
  border-radius: 0px;
}
// Newly Arrived
.newly-arrived-container{
  display:grid;
  height:75%;
  margin: 2em;
  grid-template-rows: 10% 90%;
  position: relative;
}
    .newly-arrived-container h3{
      width: 100%;
      text-align: center;
      font-family: 'ProximaNova';
      font-weight: bold;
      width: 100%;
      font-size: 2vw;
      grid-row: 1/2;
    }
.newly-arrived-grid-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1em;
  width: auto;
  height: auto;
  grid-row: 2/3;
  margin:0 5%;
}
.arrived-card-container{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.2fr 0.2fr;
  width: 100%;
  height:100%;
  padding:5%;
}
.arrived-card-image{
  grid-area: 1/1/2/3;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;

}
.arrived-card-title{
  grid-area: 2/1/3/2;
  font-family: 'ProximaNova';

}
.arrived-card-price{
  grid-area: 2/2/3/3;
  text-align: end;
  color:#686868;
}
.arrived-card-container span{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-to-cart{
  position: relative;
  grid-area: 3/1/4/2;
  background-color:var(--columbia-blue);
  color: var(--white);
}
.view-item{
  position: relative;
  grid-area: 3/2/4/3;
  background-color:var(--white);
  color: var(--nickel);
}
.add-to-cart:hover,.view-item:hover {
  background-color: var(--jet);
  color:var(--white) !important;
  cursor: pointer;
}
