<div class="signup-container">
  <div class="displayImage"></div>
  <div class="signup-form-container">
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" ngModel name = 'username' #usernameInput ="ngModel" required/>
        <mat-error *ngIf = 'usernameInput.invalid'>Please enter a valid username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" ngModel name = "email" #emailInput = 'ngModel' required email/>
        <mat-error *ngIf = 'emailInput.invalid'>Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" value="password" ngModel name = "password" #passwordInput = 'ngModel' required/>
        <mat-error *ngIf = 'passwordInput.invalid'>Please enter a valid password</mat-error>
      </mat-form-field>
      <button class="btn btn-primary btn-block">Register</button>
    </form>
    <mat-spinner *ngIf = 'isLoading' style = "position: absolute; top:50%; left: 50%;"></mat-spinner>
  </div>
</div>
