<div class="container-fluid p-5">
  <div class="row border-5 border-dark align-items-center justify-content-md-center h-100">
    <div class=" col col-md-6 d-flex justify-content-start">
      <img src="../../assets/About/manican.png" alt="manican" />
    </div>
    <div class="col col-md-4">
      <h1>About</h1>

        <p>
          Sustainable, Ethically sourced, Effortless THC & Style without the
          crippling pricing, These have always been our guiding principles when
          sourcing ranges for the curators.
        </p>
        <br />
        <p>
          Our Goal is always to source brands not dictated by th current trend.
          but rather the eclectic individuals who create them, and you the women
          who wear them.
        </p>


    </div>
  </div>
  <div class="row"></div>
</div>
