
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 50px 8px 6px 16px;
  position: relative;
  top: 5%;
  text-decoration: none;
  font-size: 1rem;
  color: #5e5e5e;
  display: flex;
    align-items: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}
