<div class="sidenav">
  <a [routerLink]="['/admin']"
    ><span class="material-icons"> dashboard </span>Dashboard</a
  >
  <a href="#about"
    ><span class="material-icons"> local_shipping </span>Orders</a
  >
  <a href="#services">
    <span class="material-icons">
      local_offer
    </span>
    Sales
  </a>
  <a routerLink="all-products"><span class="material-icons"> store </span>Products</a>
  <a href="#contact"
    ><span class="material-icons"> local_post_office </span>Email Marketing</a
  >
</div>
