
// .sidenav {
//   height: 100%;
//   width: 160px;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   background-color: rgb(255, 255, 255);
//   overflow-x: hidden;
//   padding-top: 20px;
// }

// .sidenav a {
//   padding: 50px 8px 6px 16px;
//   position: relative;
//   top: 5%;
//   text-decoration: none;
//   font-size: 1rem;
//   color: #5e5e5e;
//   display: flex;
//     align-items: center;
// }

// .sidenav a:hover {
//   color: #f1f1f1;
// }

.sidenav mat-card {
  height: 100%;
  width:100%;
  background-color: var(--white);
}
.sidenav .categories{
  position: relative;
  top: 15%;
}
.sidenav mat-checkbox {
  padding: 50px 8px 6px 16px;

  text-decoration: none;
  font-size: 1rem;
  color: var(--jet);
    align-items: center;
}

.sidenav mat-checkbox:hover {
  color: var(--nickel);
}
.sidenav .minmax-price{
  padding: 50px 8px 6px 16px;
  position: relative;
  top: 15%;
}
mat-slider {
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 499;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 500;
  top:50px;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #2c2c2c;
  border-radius: 3px;
  z-index: 499;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  top:50px;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
  width: 20px
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  width: 29px;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  height: 100%;
  min-width: 250px;
  width:15%;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
