

 /* The side navigation menu */
 #sidebar {
  height: 100%; /* 100% Full-height */
  min-width: 350px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  z-index: 998;
}

/* The navigation menu links */
#sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--jet);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  #sidebar.hidden {
    margin-right: -20%;
  }
  @media (max-width: 575px) {
    // #sidebar {
    //     margin-right: -100%;
    // }
    #sidebar.hidden {
        margin-right: -100%;
    }
  }

  #sidebar .sidebar-header {
    padding: 20px;
  }

  #sidebar ul li {
  padding: 15px;
  display: block;
  width: 100%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  }

  hr {
  border-top: 1px solid rgb(29, 29, 29);
  margin-top: 0;
  }
  .checkout-btn{
    position: absolute;
    bottom:5px;
  }
.cart-items__total{
  text-align: end;
  padding: 5%;
  font-size: 1.5em;
  font-family: 'ProximaNova';
}
#amount{
  color:#4ce94c
}
