.order-container{
overflow:hidden
}
.formContainer{
  display:block;
}
.mat-form-field{
  display: block !important;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
table {
  width: 100%;
}
.checkout-grid{
  position: relative;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.75fr 2fr;
  color: var(--nickel);
}
.checkout-grid h3{
  font-family: 'ProximaNova';
  font-size: 1em;
  color: var(--onyx);
}
.personal-details{
  padding-left: 5%;
  line-height: 3.5%;
  height:auto;
}
.shipping-details{
  border-left: 1px solid var(--nickel);
  height: 100%;
  padding-left: 5%;
  padding-left: 5%;
  line-height: 5%;
}
.cart-items{
  grid-area: 2/1/3/3;
  align-self: center;
  margin: 5% auto;
}
.order-actions{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.order-flex{
  display: flex;
  margin-left:auto
}
.cart-items__total{
  text-align: end;
  margin:0 5px;
  font-family: 'ProximaNova';
  font-size: 1em;
  align-self: center;
}
.cart-item-image{
  width:25%;
  height:auto;
  padding: 5%;
}
.cdk-column-title{
  width: 50%;
}
#amount{
  color:#5acc5a;
}
.order-total{
  text-align:end;
  color: var(--nickel);
  line-height: 3px;
  margin:auto
}
.order-btn{
  position: relative;
  background: #5acc5a;
  color: white;
  z-index:50;
}

@media only screen and (max-width: 700px) {
.checkout-grid{
display: block;
}

}
