.login-container{
  display:grid;
  height: 95vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "image form";
}
.displayImage{
  grid-area: image;
  background: url('../../../assets/home/login-image.jpg') no-repeat;
background-size: contain;
background-position: 50%;
transform: scaleX(-1);
}
.login-form-container{
  justify-self: center;
  align-self: center;
  grid-area: form;
  width:calc(250px + (500 - 250) * ((100vw - 300px) / (1600 - 300)));
}
mat-form-field{
  display:block
}
.forgot-btn{
  padding:0;
  margin:10px 0px;
  font-size: 0.75em;
  text-align: center;
  width: 100%;
  color: #5667ff
}
.forgot-btn:hover{
  color: #7c89ff
}
@media only screen and (max-width: 600px) {
  .login-container{
    grid-template-columns: 1fr;
    grid-template-areas: 'form';
  }
  .displayImage{
    display:none;
  }
}
