.slider {
  // opacity: 1;
  position: absolute;
  top: 5%;
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */
  width: 85%;
  margin:10px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;

}
