
body
{
font-size:8pt;
}


.prev-button {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  margin:auto;
  z-index: 3;
  color:rgb(34, 34, 34);
  line-height:200px;
}

.next-button {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  margin:auto;
  z-index: 2;
  color:rgb(34, 34, 34);
  line-height:200px;
}

.hover-color:hover{
  background-color: var(--jet);
  color: var(--white);
  cursor: pointer;

}
.hover-color{
  transition: background-color 0.5s, color 0.5s;
}

.card{
  height:auto;
  margin: 0 5px;
  display: inline-block;
  color:white;
  // max-width: 500px;
  width: 500px;
}
.card-content{
  // height:auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color:white;
  // width: 100%;
}
.card__header{
  grid-column: 1/2;
  background-color: var(--Primary);
  position:relative;
}


.card__header h3{
  width: 75%;
  font-size: calc(25px + (35 - 25) * ((100vw - 300px) / (1600 - 300)));
}
.card__image{

  grid-column: 2/3;
  width: 100%;
  height: 100%;
}
.card__image img{
  object-fit: cover;
  width: 100%;
  height:100%;
}
.bottom{
  position: absolute;
  bottom: 0;
  padding: 5%
}
.btn{
  color:var(--onyx);
  background-color:var(--isabelline);
  font-size: 1em;
  text-transform: uppercase;
}
.btn-circle.btn-sm {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  line-height: 0;
  p{
    position: relative;
    width: 100%;
    font-size: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
@media only screen and (max-width: 700px) {
  .card{
    width: 365px;
  }
}
