.all-orders-container{
  margin-left: 160px;
  height:100%;
  padding: 2%;
}
.order-item-container{
  display: flex;

}
.order-item-details{
  flex-wrap: wrap;
}
.order-actions{
  margin-left: auto;
}
