
.product-container{
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 0.2fr 0.2fr;
  width: 100%;
  height:100%;
  min-height: 60vh;
  padding: 0 5%;


  .product-image{
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
  img{
    object-fit:contain;
    width:100%;
    height:auto;
    max-height: 390px;
  }
  }
  .product-details{
    grid-row: 2/3;
    .details{
      display:flex;
      .product-title{
        grid-area: 2/1/3/2;
        font-family: 'ProximaNova';
      }
      .product-price{
        grid-area: 2/2/3/3;
        text-align: end;
        color:#686868;
        margin-left: auto;
      }
    }
    mat-form-field{
      display:block
    }
  }
}



.product-container span{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-actions{
  grid-area: 3/1/4/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height:auto;
  width:auto
}
.add-to-cart{
  position: relative;
  background-color:var(--Primary);
  color: var(--white);
}
.view-item{
  position: relative;
  background-color:var(--isabelline);
  color: var(--nickel);
}
.add-to-cart:hover,.view-item:hover {
  background-color: var(--jet);
  color:var(--white) !important;
  cursor: pointer;
}
